html, body{
    margin:0;
    padding:0;
    font-size: 65.2%;
}

body{
    text-align: center;
    margin:0 auto;
    background-color:lightgrey;
}

input{

    width:80%;
    height:4rem;
    border:none;
    background-color:white;
    font-size:3.5rem;
    display:inline-block;
    margin:1rem 0 8rem 0;
    text-align:right;
    font-family: 'Roboto', sans-serif;
}

button{
    background-color:white;
    width:70px;
    height:70px;
    font-size:3.5rem;
    color:#3A3924;
    display:inline-block;
    margin:2px;
    border-radius: 35px;
    border:1px solid #56503A;
    font-family: 'Yantramanav', sans-serif;
    opacity:.8;
}

#top_button_1{
    margin:0 15px 0 3px;
}

#top_button_2{
    margin:0 17px 0 -10px;
}

#top_button_0{
    background-color:#F54803;
    color:white;
    border:none;
}

#numbers_container{
    width:60%;
    height:30rem;
    display: inline-block;
    background-color:white;
    float:left;
    margin-left:36px;
}

#operators_container{
    width:22%;
    height:30rem;
    display: inline-block;
    background-color:white;
    float:left;
}

#answer_container{
    padding:0 1rem 0 1rem;
}

#equal_button{
    color:white;
    border:none;
}

#equal_button:hover{
    background-color:#292627;
}

#clear_data_button{
    color:white;
    border:none;
}

button[id^=calc_number_button_]:hover{
    background-color: lightgrey;
}

button[id^=calc_operator_button_]{
    background-color:#CCC3AC;
}

button[id^=calc_operator_button_]:hover{
    background-color:grey;
}




