html, body{
    margin:0;
    padding:0;
    font-size: 65.2%;
}

body{
    text-align: center;
    margin:0 auto;
    background-color:lightgrey;
}

input{

    width:80%;
    height:4rem;
    border:none;
    background-color:white;
    font-size:3.5rem;
    display:inline-block;
    margin:1rem 0 8rem 0;
    text-align:right;
    font-family: 'Roboto', sans-serif;
}

button{
    background-color:white;
    width:70px;
    height:70px;
    font-size:3.5rem;
    color:#3A3924;
    display:inline-block;
    margin:2px;
    border-radius: 35px;
    border:1px solid #56503A;
    font-family: 'Yantramanav', sans-serif;
    opacity:.8;
}

#top_container > button{
    margin: 0 10px 0 10px;
}
/*
#top_button_1{
    margin:0 15px 0 3px;
    background-color:#CCC3AC;
}

#top_button_2{
    margin:0 17px 0 -10px;
    background-color:#CCC3AC;
}

#top_button_3{
    background-color:orangered;
}
*/

#top_button_0{
    background-color:#F54803;
    color:white;
    border:none;
}

#delete_button{
    position: relative;
    top:23px;
}

#numbers_container{
    width:76%;
    height:30rem;
    display: inline-block;
    background-color:white;
    float:left;
}

#numbers_container button{
    margin:7px 8px 0 13px;
}

#calc_number_button_11{
    background-color:#CCC3AC;
}

#operators_container{
    width:20%;
    height:30rem;
    display: inline-block;
    background-color:white;
    float:left;
    padding-top:2px;
}

#operators_container button{
    margin-top:5px;
    position:relative;
    right:8px;
}

#answer_container{
    padding:0 1rem 0 1rem;
}

#equal_button{
    color:white;
    border:none;
}

#equal_button:hover{
    background-color:#292627;
}

#clear_data_button{
    color:white;
    border:none;
}

button[id^=calc_operator_button_]{
    background-color:#CCC3AC;
}





