html, body{
    margin:0;
    padding:0;
    font-size: 65.2%;
}

body{

    text-align: center;
    background-color:pink;
}

#display_box{

    background-color:coral;
    text-align: center;
}

input{

    width:80%;
    height:4rem;
    margin:2rem;
    border-radius: 5px;

    background-color:white;
    font-size:2rem;
    display:inline-block;
}

#numbers_div{
    width:60%;
    display:inline-block;
    float:left;
    height:20rem;
    padding-top:1rem;
}

#plus_and_minus_div{
    width:40%;
    display:inline-block;
    float:left;
    height:20rem;
    padding-top:1rem;
    
    
}


/*
#button_one{
    background-color:azure;
    width:10rem;
    font-size:2rem;
    color:firebrick;
    margin:.5rem;
    border-radius:5px;
    height:10rem;
}*/

/*

}


section{
    width:30rem;
    background-color:#CCD4D7;
    height:40rem;
    display:inline-block;
    border-radius: 20px;

    box-shadow: 5px 5px 5px grey;

    box-shadow: 1px 1px 1px sgrey;

}

img{
    width:90%;    
    display: inline-block;
    height:4rem;
    margin:.5rem;
}





button{
    background-color:azure;
    width:5rem;
    font-size:2rem;
    color:firebrick;
    margin:.5rem;
}



#numbers{
    width:60%;
    display:inline-block;
    float:left;
}

#plus_and_minus{
    width:40%;
    display:inline-block;
    float:left;
}

#image_and_button button{
    width:80%;

}*/



